/*esto es el reset inicial*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


#encabezado {

	height: 1000px;
	width: 100%;
	background-color: lightgrey;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../Media/Hero2.jpg");
	background-size: cover;
	}


/*aquí empieza el menú.
Esto se explica en la conferencia UF1B del 10/03*/
nav {
	width: 100%;
	height: 150px;
	/*background-color: pink;*/
	overflow: hidden;
	position: fixed;
	z-index: 1;
}
#logo{
	width: 179px;
	height: 104px;
	/*background-color: grey;*/
	float: left;
	display: block;
	margin-left: 100px;
	margin-top: 22px;


}

#menu {
	list-style-type: none;
	width: auto;
	overflow: hidden;
	float: right;
	margin-right: 75px;
}

.elementoMenu{
	float: left;
	margin: 0px 25px;
	/*background-color: yellow;*/
	line-height: 150px;
}

.elementoMenu>a {
	font-family: 'Roboto', sans-serif;
	color: white;
	text-decoration: none;
	/*display: block;*/
	font-size: 2rem;
}



#tituloEncabezado {

	font-size: 16.5rem;
	/*background-color: orange;*/
	text-align: center;
	position: relative;
	top: 215px;
	font-family: 'Niconne', cursive;
	color: white;
	text-shadow: 1px 9px 5px rgba(0,0,0,0.57);
	font-weight: normal;
}

#subtituloEncabezado {

	font-size: 4.5rem;
	/*background-color: olive;*/
	text-align: center;
	position: relative;
	top: 160px;
	font-family: 'Niconne', cursive;
	color: white;
	text-shadow: 1px 9px 5px rgba(0,0,0,0.57);
	font-weight: normal;
}

/*aquí se acaba el header*/


#filosofia {

	width: 100%;
	height: 950px;
	background-color: #FEE2B3;
	overflow: hidden;
}

.tituloSeccion {

	font-family: 'Niconne', cursive;
	font-size: 5rem;
	font-weight: normal;
	/*background-color: olive;*/
	text-align: center;
	margin-top: 200px;

}

#contenedorFilo {

	width: 1200px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	/*background-color: yellow;*/
	margin-top: 150px;
	overflow: hidden;
}

.colFilo{

	width: 50%;
	height: 500px;
	/*background-color: orange;*/
	/*border-style: solid;*/
	float: left;
}

#videoFilo {

	width: calc(100% - 75px);
	background-color: lightblue;
	height: 300px;
	margin-right: 75px;
}

.colFilo >p {
	font-family: 'Roboto', sans-serif;
	font-size: 1.25rem;
	padding-left: 75px;
	line-height: 1.75;

}

#carta {

	width: 100%;
	height: 1210px;
	background-color: black;
	overflow: hidden;
}

.titulosBlanco{
	color:white;
}

#contenedorEtiquetaPestanas{

	width: 700px;
	/*background-color: tomato;*/
	margin-left: auto;
	margin-right: auto;
	overflow:hidden;
	margin-top: 50px;
}

.etiquetaPestanas{

	width: 33.33%;
	font-size: 2rem;
	color:white;
	float: left;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;

}

.pestanaActiva{
	color: #FF5200;
	text-decoration: underline;
}
#contenedorPestana{

	margin-top: 40px;
	width: 1275px;
	height: 800px;
	/*background-color: lightgreen;*/
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

.plato {

	width: calc(33.33% - 75px);
	height: calc(50% - 75px);
	/*background-color: brown;*/
	/*border-style: solid;*/
	float: left;
	margin-right: 37.5px;
	margin-left: 37.5px;
	margin-top: 37.5px;
	margin-bottom: 37.5px;

}

.imagenPlato{
	width: 100%;
	height: 250px;
	background-color: lightgrey;
}

.imagenPlato img{
	width: 100%;
	height: auto;
}

.nombrePlato {

	text-align: center;
	color: white;
	margin-top: 12px;
	font-family: 'Roboto', sans-serif;
	font-size: 1.25rem;
}

.precio {
	text-align: center;
	color:#FF5200;
	margin-top: 12px;
	font-family: 'Roboto', sans-serif;
	font-size: 1.25rem;

}

#galeria {

	width: 100%;
	height: 950px;
	background-color: #FEE2B3;
	overflow: hidden;
}

#contenedorGaleria{
	width: 1210px;
	height: 525px;
	/*background-color: lightblue;*/
	margin-top: 95px;
	margin-left: auto;
	margin-right: auto;
}

.imgGal {
	width: calc(25% - 10px);
	height: calc(33.33% - 10px);
	background-color: grey;
	/*border-style: solid;*/
	float: left;
	margin: 5px;

}

#contacto{

	width: 100%;
	height: 950px;
	background-color: black;
	overflow: hidden;
}

#contenedorContacto {
	width: 1200px;
	height: 600px;
	/*background-color: lightgreen;*/
	margin-right: auto;
	margin-left: auto;
	margin-top: 95px;
	overflow: hidden;

}

#map {
	float: left;
}


#textoReservas {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
	color: white;
}


#formu {
	width: 50%;
	height: 525px;
	/*background-color: pink;*/
	float: left;
	padding-top: 25px;
	padding-left: 60px;
}

input {
	display: block;
	height: 40px;
	margin-top: 25px;
	padding-left: 10px;
	width: 525px;
	font-family: 'Roboto', sans-serif;
	font-size: 1.15rem;
}

#botonEnviar{

	width: 150px;
	border-style: none;
	background-color: #FF5200;
	padding: 5px;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;

}

#pie {

	width: 100%;
	height: 100px;
	background-color: grey;
}