*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    background-color: #09d209;
    position: relative;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
}

#welcomeModal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color:rgba(0, 0, 0, 0.9);
    z-index: 10;
    /* position: relative; */
    
}

#welcomeModal h1 {
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#welcomeModal button {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#gameTitle {
    color: white;
    text-align: center;
    padding-top: 20px;
}

#containerCardsToSelect {
    width: 95%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    /* background-color:rgba(0, 0, 0, 0.6); */
}
#containerCardsToMakeTrips {
    width: 95%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-top: 20px; */
    /* background-color: rgb(188, 165, 17); */
}

.cardFrame {
    width: calc(10% - 20px);
    height: 260px;
    margin: 10px;
    background-color: #ffffff;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    
    cursor: pointer;
    
    /* box-shadow: 0 0 10px 5px rgba(0, 255, 0, 0.5); */
    
}

.card {
   width: 100%;
   height: 100%;
   background-color: #000000;
   border-style: solid;
   border-radius: 15px;
   /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
   display: flex;
   flex-wrap: wrap;
   align-items: start;
   justify-content: center;
   cursor: pointer;
   
   /* box-shadow: 0 0 10px 5px rgba(0, 255, 0, 0.5); */

}


.stationName {
    width: 100%;
    height: 125px;
    padding-top: 25px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin-top: 10px;
}

.lineText {
    height: auto;
    /* width: calc(33.33% - 10px); */
    width: auto;
    margin: 5px 0px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    padding: 0px 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    /* background-color: green; */
}


#UiModalsRef{
    width: 100vw;
    height: 100dvh;
    position: absolute;
    /* background-color: rgba(203, 107, 107, 1); */
    top: 0px;
    z-index: 3;
    pointer-events: none;
}

#moreCardsModal {
    width:300px;
    height: auto;
    position: absolute;
    top: 15%;
    /* transform: translateY(-50%,-50%); */
    left: 0px;
    background-color:rgba(0, 0, 0, 0.6);
    pointer-events: auto;
    padding: 20px;
    /* border-radius: 20px; */
}

#moreCardsModal h1 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
    
}
#moreCardsButton {
padding: 40px;
font-size: 15px;
    font-family: Arial;
    /* width: 140px; */
    /* height: 50px; */
  border-width:1px;
  color:#ffffff;
  border-color:#ee1eb5;
  font-weight:bold;
  border-top-left-radius:42px;
  border-top-right-radius:42px;
  border-bottom-left-radius:42px;
  border-bottom-right-radius:42px;
  box-shadow:inset 0px 1px 0px 0px #fbafe3;
  text-shadow:inset 0px 1px 0px #c70067;
  background:linear-gradient(#ff5bb0, #ef027d);
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
}

#moreCardsButton:hover {
  background: linear-gradient(#ef027d, #ff5bb0);
}

#exchangeTripsModal {
    width:300px;
    height: auto;
    position: absolute;
    top: 15%;
    /* transform: translateY(-50%,-50%); */
    right: 0px;
    background-color:rgba(0, 0, 0, 0.6);
    pointer-events: auto;
    padding: 20px;
}

#exchangeTripsModal h1 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
    
}

#exchangeTripsModal button {
  font-size: 1.25rem;
  display: block;
  width:auto;
  margin-bottom: 50px;
  height:auto;
  border-width:1px;
  color:#010101;
  padding: 5px 20px;
  border-color:#566963;
    border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  /* box-shadow:inset 0px 1px 3px 0px #91b8b3; */
  text-shadow:inset 0px -1px 0px #2b665e;
  background:linear-gradient(#c9e3dc, #a1b9b9);
  cursor: pointer;
}

#showMapButton {
    font-size: 1.25rem;
    display: block;
    width: auto;
    margin-top: 50px;
    height: auto;
    border-width: 1px;
    color: #010101;
    padding: 5px 20px;
    border-color: #566963;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /* box-shadow:inset 0px 1px 3px 0px #91b8b3; */
    text-shadow: inset 0px -1px 0px #2b665e;
    background: linear-gradient(#c9e3dc, #a1b9b9);
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;;
}